@import url('https://fonts.cdnfonts.com/css/share-tech');
.servicesmobile .pallet1{
    width: 40%;
    padding: 150px 200px;
         align-items: center;
         justify-content: space-between;
 
         @media (max-width: 1280px) {
             padding: 50px 100px;
         }
 
         @media (max-width: 979px) {
             padding: 50px 50px;
         }
 
         @media (max-width: 768px) {
             padding: 30px;
             flex-direction: column;
         }
 }
 
.servicesmobile .pallet1 >h4{
    margin:auto;
}
 

.servicesmobile .pallet1 .mainHeading{
    margin:auto auto -1rem auto;
    color: #E70F77;
    font-size: 3rem;
}

.servicesmobile .pallet1 >p{
    color: #000000;
    padding-bottom: 1.5rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

.servicesmobile .pallet1 .services-btn {
    display: inline-flex;
    justify-content: left;
    align-items: left;
    margin: 0 auto;

    a {
        text-decoration: none;
        color: #fff;
        padding: 15px 30px;
        border-radius: 50px;
        border: 1px solid #E70F77;
        background-color: #fff;
        color: #E70F77;
        transition: all 0.3s ease;
        font-size: 1.2rem;
        margin: 0 auto;
    }

    a:hover {
        background-color: #E70F77;
        border: 1px solid #E70F77;
        color: #fff;
        transition: all 0.3s ease;
    }
}
/* Methodology CSS start*/
.servicesmobile .pallet2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0rem auto;
    background-color: #FCF8FF;
    padding-bottom: 4rem;
    padding-top: 4rem;
    text-align: center;
}

.servicesmobile .pallet2 .pallet2_container  {
    width: 80%;
}
/* Methodology CSS end*/
.servicesmobile .pallet3 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 6rem auto;
    text-align: center;
}

.servicesmobile .pallet3 .bottomHeading{
    color: #E70F77;
    text-align: center;
}

.servicesmobile .pallet3 .container1 {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    margin-top: 5rem;
}

.servicesmobile .pallet3 .container1 .infoText{
    color: #000000;
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-align: left;
    flex-direction: column;
    margin-right: 2rem;
    width: 75%;
}

.servicesmobile .pallet3 .container1 .image{
    width: 25%;
    height: 250px;
    background-attachment: fixed;
}

.servicesmobile .pallet3 .container1 .image > img {
    width: 100%;
    height: 100%;
}

.servicesmobile .pallet3 .container2 {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    margin-top: 5rem;
}

.servicesmobile .pallet3 .container2 .infoText{
    color: #000000;
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-align: right;
    flex-direction: column;
    width: 75%;
}

.servicesmobile .pallet3 .container2 .image{
    width: 25%;
    height: 250px;
    background-attachment: fixed;
    margin-right: 2rem;
}

.servicesmobile .pallet3 .container2 .image > img {
    width: 100%;
    height: 100%;
}

.servicesmobile .pallet3 .container3 {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    margin-top: 5rem;
    margin-bottom: -5rem;
}

.servicesmobile .pallet3 .container3 .infoText{
    color: #000000;
    font-size: 1.4rem;
    line-height: 2.2rem;
    text-align: left;
    flex-direction: column;
    margin-right: 2rem;
    width: 75%;
}

.servicesmobile .pallet3 .container3 .image{
    width: 25%;
    height: 250px;
    background-attachment: fixed;
}

.servicesmobile .pallet3 .container3 .image > img {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1280px){
    .servicesmobile .pallet1{
        width: 50% ;
    }
    .servicesmobile .pallet1 >h4{
        padding-top: 5rem;
    }

    .servicesmobile .pallet3 .container1 .infoText{
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .servicesmobile .pallet3 .container2 .infoText{
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .servicesmobile .pallet3 .container3 .infoText{
        font-size: 1.2rem;
        line-height: 2rem;
    } 
}

@media (max-width: 979px) {
    .servicesmobile .pallet1{
        width: 60% ;
    }
    .servicesmobile .pallet1 >h4{
        padding-top: 5rem;
    }

    .servicesmobile .pallet3{
        width: 90%;
    }

    .servicesmobile .pallet3 .container1{
        flex-direction: column-reverse;
    }

    .servicesmobile .pallet3 .container1 .infoText{
        text-align: left;
        width: 100%;
    }

    .servicesmobile .pallet3 .container1 .image{
        width: 100%;
    }

    .servicesmobile .pallet3 .container2{
        flex-direction: column;
    }

    .servicesmobile .pallet3 .container2 .infoText{
        text-align: left;
        width: 100%;
    }

    .servicesmobile .pallet3 .container2 .image{
        width: 100%;
    }

    .servicesmobile .pallet3 .container3{
        flex-direction: column-reverse;
    }

    .servicesmobile .pallet3 .container3 .infoText{
        text-align: left;
        width: 100%;
    }

    .servicesmobile .pallet3 .container3 .image{
        width: 100%;
    }
}

@media (max-width: 768px) {
    .servicesmobile .pallet1{
        width: 80% ;
    }
    .servicesmobile .pallet1 >h4{
        padding-top: 5rem;
    }

}