.ContactUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 8rem auto 6rem auto;
}

.ContactUs .topheading .bottomHeading{
    color: #E70F77;
    text-align: center;
}

.ContactUs .contactus_container {
    align-items: center;
    justify-self: center;
    padding-top: 2rem;
}

.ContactUs .contactus_container .contactus_container_top{
    background-color: #49077B;
    color: white;
    height: 18rem;
    width: 60rem;
    text-align: center;
    align-self: center;
    line-height: 2rem;
    padding: 3rem;
    margin: 3rem 3rem auto auto;
    border-radius: 1rem 1rem 0rem 0rem;
    margin: auto;
}

.ContactUs .contactus_container .contactus_container_top >  button {
    color: #ffffff;
    text-align: center;
    width: 10rem;
    height: 3rem;
    border-radius: 5rem;
    border: 3px solid #E70F77;
    font-size: 1rem;
    background-color:transparent;
    margin-top: 2rem;
    margin-right: 1rem;
}

.ContactUs .contactus_container .contactus_container_bottom{
    background-color: #FCF8FF;
    color: white;
    height: 38rem;
    width: 60rem;
    text-align: center;
    align-self: center;
    line-height: 2rem;
    padding: 3rem;
    margin: 0rem 3rem auto auto;
    border-radius: 0rem 0rem 1rem 1rem;
    margin: auto;
} */


form {
    padding: 37.5px;
    margin: 50px 0;
  }
  
  .underline {
    border-bottom: solid 2px #ffffff;
    margin: -0.512em auto;
    width: 80px;
  }
  
  .icon_wrapper {
    margin: 50px auto 0;
    width: 100%;
  }
  
  .icon {
    display: block;
    fill: #ffffff;
    height: 50px;
    margin: 0 auto;
    width: 50px;
  }
  
  .email {
      float: left;
      width: 45%;
  }
  
  input[type='text'], [type='email'], select, textarea {
      background: none;
    border: none;
      border-bottom: solid 2px #000000;
      color: #000000a0;
      font-size: 1.000em;
    font-weight: 400;
    letter-spacing: 1px;
      margin: 2em 0 1.875em 0;
      padding: 0 0 0.875em 0;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }
  
  input[type='text']:focus, [type='email']:focus, textarea:focus {
      outline: none;
      padding: 0 0 0.875em 0;
  }
  
  .message {
      float: none;
  }
  
  .fname {
      float: left;
      width: 45%;
  }
  
  .lname{
    float: right;
    width: 45%;
  }
  
  .subject {
    width: 100%;
  }
  
  .telephone {
    float: right;
    width: 45%;
  }
  
  textarea {
      line-height: 150%;
      height: 150px;
      resize: none;
    width: 100%;
  }
  
  ::-webkit-input-placeholder {
      color: #00000086;
  }
  
  :-moz-placeholder { 
      color: #000000;
      opacity: 1;
  }
  
  ::-moz-placeholder {
      color: #000000;
      opacity: 1;
  }
  
  :-ms-input-placeholder {
      color: #000000;
  }
  
  .form_button {
    color: #000000;
    text-align: center;
    width: 10rem;
    height: 3rem;
    border-radius: 5rem;
    border: 3px solid #E70F77;
    font-size: 1rem;
    background-color:transparent;
    margin-top: 2rem;
    margin-right: 1rem;
  }
  
  select {
    background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
    outline: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  
  select::-ms-expand {
    display: none;
  }
  
  