.Footer {
  width: 100%;
  /* background-color: blue; */
  height: 400px;
  position: absolute;
  top: 400vh;
}

.Footer .mainContainer {
  display: flex;
  height: fit-content;
  width: 100%;
  height: inherit;
}

.Footer .bgImgContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Footer .main {
  width: 80%;
  height: 75%;
  /* background-color: #98d9ffcc; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Footer .topMain {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin: 0;
}

.Footer .columns {
  /* background-color: yellowgreen; */
  width: 270px;
  height: 100%;
  margin: 10px;
}

.columns h3 {
  color: #e70f77;
}

.Footer .columns:nth-child(1) {
  /* background-color: yellow; */
  flex-basis: 500px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  color: rgb(203, 203, 203);
  /* color: pink; */
  font-weight: 200;
  line-height: 25px;
}

.Footer ul {
  margin-top: 10px;
  list-style: none;
}

.Footer ul li {
  margin-top: 20px;
}

.Footer ul li a {
  text-decoration: none;
  /* color: rgb(203, 203, 203); */
  color: pink;
}

.Footer ul li a:hover {
  color: white;
}

.Footer .socialMedia {
  margin-left: 50px;
  width: 120px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}

.Footer .iconProp {
  color: pink;
}

.Footer .iconProp:hover {
  color: white;
}

.Footer .bar {
  width: 98%;
  height: 1px;
  margin-top: 40px;
  background-color: white;
}

.Footer .bottomMain {
  height: 40%;
  width: 100%;
  /* background-color: blueviolet; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  margin-top: 20px;
}
