.cls-1,
.cls-2,
.cls-3,
.cls-4,
.cls-5 {
  fill: none;
}

.cls-6 {
  fill: url(#linear-gradient);
}

.cls-2 {
  stroke: url(#linear-gradient-18);
}

.cls-2,
.cls-3 {
  stroke-width: 4px;
}

.cls-2,
.cls-3,
.cls-4,
.cls-5 {
  stroke-miterlimit: 10;
}

.cls-3 {
  stroke: url(#linear-gradient-21);
}

.cls-7 {
  clip-path: url(#clippath);
}

.cls-4 {
  stroke: url(#linear-gradient-19);
  stroke-width: 2px;
}

.cls-5 {
  stroke: url(#linear-gradient-20);
  stroke-width: 7px;
}

.cls-8 {
  fill: url(#linear-gradient-8);
}

.cls-9 {
  fill: url(#linear-gradient-9);
}

.cls-10 {
  fill: url(#linear-gradient-3);
}

.cls-11 {
  fill: url(#linear-gradient-4);
}

.cls-12 {
  fill: url(#linear-gradient-7);
}

.cls-13 {
  fill: url(#linear-gradient-14);
}

.cls-14 {
  fill: url(#linear-gradient-22);
}

.cls-15 {
  fill: url(#linear-gradient-23);
}

.cls-16 {
  fill: url(#linear-gradient-15);
}

.cls-17 {
  fill: url(#linear-gradient-16);
}

.cls-18 {
  fill: url(#linear-gradient-17);
}

.cls-19 {
  fill: url(#linear-gradient-13);
}

.cls-20 {
  fill: url(#linear-gradient-12);
}

.cls-21 {
  fill: url(#linear-gradient-10);
}

.cls-22 {
  fill: url(#linear-gradient-11);
}

.cls-23 {
  fill: url(#linear-gradient-27);
}

.cls-24 {
  fill: url(#linear-gradient-24);
}

.cls-25 {
  fill: url(#linear-gradient-26);
}

.cls-26 {
  fill: url(#linear-gradient-25);
}

.cls-27 {
  fill: url(#linear-gradient-28);
}

.cls-28 {
  fill: url(#linear-gradient-29);
}

.cls-29 {
  fill: url(#linear-gradient-30);
}

.cls-30 {
  fill: url(#linear-gradient-6);
}

.cls-30,
.cls-31 {
  opacity: 0.33;
}

.cls-31 {
  fill: url(#linear-gradient-2);
}

.cls-32 {
  fill: url(#linear-gradient-5);
  opacity: 0.73;
}
