@import "./valuse.css";
.Introduction {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 700px;
  padding: 0 10%;
}

.Introduction .leftContainer {
  width: 50%;
  margin: 0;
  padding: 0;
  text-align: start;
}
.Introduction h1{
  margin: 10px 0;
  padding: 0;
}
.Introduction #black_topic {
  font-size: var(--small-title);
  font-weight: bold;
  color: var(--title-gray);
}

.Introduction #pink_topic {
  font-size: var(--big-title);
  font-weight: 700;
  color: var(--primary-pink);
}
.Introduction .para {
  color: black;
  font-size: var(--description);
  font-weight: 300;
  margin: 20px 0;
  line-height: 35px;
}
.Introduction .rightContainer {
  width: 50%;
  margin: 0;
  padding: 0;
  text-align: start;
  position: relative;
}
.Introduction .rightContainer .bgContainer {
  position: absolute;
  top: -90px;
  right: 0;
  width: 400px;
  z-index: -1;
}
.Introduction .rightContainer .bgContainer img{
  width: 100%;
}

.Introduction .rightContainer .imgContainer {
  width: 400px;
  margin-left: 20%
}
.Introduction .rightContainer .imgContainer img{
  width: 100%;
}

@media screen and (max-width: 768px) {
  .Introduction {
    flex-direction: column;
    height: 100%;
    margin-top: 2em;
  }
  .Introduction #black_topic {
  font-size: var(--small-title-xs);
  font-weight: bold;
  color: var(--title-gray);
}

.Introduction #pink_topic {
  font-size: var(--big-title-xs);
  font-weight: 700;
  color: var(--primary-pink);
}
.Introduction .para {
  color: black;
  font-size: var(--description-xs);
  font-weight: 300;
  margin: 20px 0;
  line-height: 25px;
}
  .Introduction .leftContainer {
    width: 100%;
    text-align: center;
  }
  .Introduction .rightContainer {
    width: 100%;
    text-align: center;
    margin-top: 4em;
  }
  .Introduction .rightContainer .bgContainer {
    position: absolute;
    top: -50px;
    right: -20px;
    width: 300px;
    z-index: -1;
  }
  .Introduction .rightContainer .imgContainer {
    width: 300px;
    margin-left: 0;
    margin: auto;
  }
}