@import url('https://fonts.cdnfonts.com/css/share-tech');
.ServicesUiUx .pallet1{
    padding: 150px 200px;
         align-items: center;
         justify-content: space-between;
 
         @media (max-width: 1280px) {
             padding: 50px 100px;
         }
 
         @media (max-width: 979px) {
             padding: 50px 50px;
         }
 
         @media (max-width: 768px) {
             padding: 30px;
             flex-direction: column;
         }
 }
 
.ServicesUiUx .pallet1 >h4{
    margin:auto;
}
 

.ServicesUiUx .pallet1 .mainHeading{
    margin:auto auto -1rem auto;
    color: #E70F77;
    font-size: 3rem;
}

.ServicesUiUx .pallet1 >p{
    color: #000000;
    padding-bottom: 1.5rem;
    font-size: 1.2rem;
    line-height: 2rem;
}

.ServicesUiUx .pallet1 >button{
    color: #9302F0;
    text-align: center;
    width: 10rem;
    height: 3rem;
    border-radius: 5rem;
    border: 3px solid #E70F77;
    font-size: 1rem;
    background-color: white;
}

/* Methodology CSS start*/
.ServicesUiUx .pallet2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0rem auto;
    background-color: #FCF8FF;
    padding-bottom: 4rem;
    padding-top: 4rem;
    text-align: center;
}

.ServicesUiUx .pallet2 .pallet2_container  {
    width: 80%;
}
/* Methodology CSS end*/

.ServicesUiUx .pallet3 {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 6rem auto;
    text-align: center;
}

.ServicesUiUx .pallet3 .bottomHeading{
    color: #E70F77;
    text-align: center;
}

.ServicesUiUx .pallet3 .container1 {
    display: flex;
    flex-direction: row;
    padding-top: 4rem;
    width: 70%;
    margin: auto;
}

.ServicesUiUx .pallet3 .container1 .infoText{
    color: #000000;
    font-size: 1.5rem;
    line-height: 2.4rem;
    text-align: left;
    flex-direction: column;
    margin-top: 2rem;
}

.ServicesUiUx .pallet3 .container1 > img{
    display: -webkit-box;
    margin-left: auto;
}

.ServicesUiUx .pallet3 .container2 {
    display: flex;
    flex-direction: row;
    padding-top: 6rem;
    width: 70%;
    margin: auto;
}

.ServicesUiUx .pallet3 .container2 .infoText{
    color: #000000;
    font-size: 1.5rem;
    line-height: 2.4rem;
    text-align: right;
    flex-direction: column;
    margin-top: 2rem;
}

.ServicesUiUx .pallet3 .container2 > img{
    display: -webkit-box;
    margin-right: auto;
}

.ServicesUiUx .pallet3 .container3 {
    display: flex;
    flex-direction: row;
    padding-top: 6rem;
    width: 70%;
    margin: auto;
}

.ServicesUiUx .pallet3 .container3 .infoText{
    color: #000000;
    font-size: 1.5rem;
    line-height: 2.4rem;
    text-align: left;
    flex-direction: column;
    margin-top: 2rem;
}

.ServicesUiUx .pallet3 .container3 > img{
    display: -webkit-box;
    margin-left: auto;
}

