.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  padding: 5px 200px; 
  box-sizing: border-box; /* Include padding in width calculation */
  display: flex;
  justify-content: space-between; /* Align logo and menu items */
  align-items: center; /* Center items vertically */
  transition: all 0.3s ease;
  z-index: 1000;
}

.navbar--scroll{
  background-color: #fff;
  transition: all 0.3s ease;
}

.navbar .logo {
  padding: 10px 0;
  width: 140px;
}

.navbar .logo img {
  width: 100%;
}

.navbar .nav-links {
  display: flex;
  gap: 40px;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease;
}

.navbar .nav-links a:hover {
  transform: scale(1.1);
}



.navbar--scroll a {
  color: #333;
}

.nav-contact {
  background-color: #9302F0;
  padding: 10px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar--scroll .nav-contact a {
  color: #fff;
}
 
.nav-contact:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}

/* Add some styles to the content area to prevent it from being hidden under the navbar */
.content {
  padding: 80px 20px 20px;
  margin-top: 60px; /* Ensure content is below the navbar */
}